*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	vertical-align: center;
	color: #000;
}
.box{
	width: 1651px;
	height: 745px;
}
.shang{
	width: 100%;
	height: 90px;
	background: #fff;
}
.shang ul li{
	width: 70px;
	height: 25px;
	list-style: none;
	float: left;
	margin-left: 20px;
	font-size: 14px;
}
.hong{
	color: red;
}
.zuo{
	width: 493px;
	height: 487px;
	background: blue;
	float: left;
	margin-left: 11px;
}
.zhong{
	width: 509px;
	height: 487px;
	background: green;
	float: left;
	margin-left: 33px;
}
.you{
	width: 381px;
	height: 487px;
	float: left;
	margin-left: 40px;
}
